<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function myFunction()
        {
            alert("successful");
        }
    </script>
</head>
<body>
<form  th:action="@{/registration}" th:object="${student}" method="post" >
    Enter Name:
    <input th:type="text" th:name="name">
    Enter Age:
    <input th:type="number" th:name="age">
    <button th:type="sumbit" id="form" onclick="myFunction()">Submit</button>
</form>
</body>
</html>